<table>

  <thead>
    <tr class="header">
      <th></th>
      <th width="100">Auftrag</th>
      <th width="300">Auftraggeber</th>
      <th width="120">Erstellt<br>Abgeschlossen</th>   
      <th>Artikel</th>
      <th width="100" class="text-right">Betrag</th>
    </tr>
  </thead>

  <tbody>
		<% @orders.each do |order| %>
			<%= render partial: "orders/index/item_order", locals: { order: order } %>
		<% end %>
  </tbody>

</table>

<div class="row">
	<div class="small-12 columns text-right">

		<h4 class="bold"><%= number_to_currency(@orders.sum{|o| o.line_items.to_a.sum(&:price_total)}) %></h4>

	</div>
</div>