- content_for :toolbar do
	
	.row
		.small-12.columns
			.toolbar
				ul.inline-list
				  li= link_to icon("add", text: "Neu"), new_order_path
				  li#search-toggle= link_to icon("search", text: "Suchen"), "#"