<% content_for :toolbar do %>
	
	<div class="row">
		<div class="small-12 columns">
			<div class="toolbar">
				<ul class="inline-list show-for-medium-up">
				  <li><%= link_to icon("add", text: "Neu"), new_order_path %></li>
				  <li id="search-toggle"><%= link_to icon("search", text: "Suchen"), "#" %></li>
				</dl>
			</div>
		</div>
	</div>

<% end %>