tr.contact-item.link href=contact_path(contact)
	td = contact.id
	td = contact.name
	td = "Händler"
	td
	td.text-right
		span.tip-left data-tooltip="" title="Bearbeiten"
		= link_to icon("pencil"), edit_contact_path(contact)