/ = search_form_for @search, method: :post, url: search_orders_path, class: "quicksearch__form" do |f|
/   = f.text_field :billing_name_or_billing_city_cont, class: "quicksearch__field"
/   = f.submit "P", class: "quicksearch__button"

= button_tag "P", id: "search-toggle"