#chart_progress

javascript:
  var de = d3.locale({
    'decimal': ',',
    'thousands': '.',
    'grouping': [3],
    'currency': ['€ ', ''],
    'dateTime': '%a %b %e %X %Y',
    'date': '%m/%d/%Y',
    'time': '%H:%M:%S',
    'periods': ['AM', 'PM'],
    'days': ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
    'shortDays': ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
    'months': ['Januar', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
    'shortMonths': ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
  });


  var chart = c3.generate({
      bindto: "#chart_progress",
      data: {
        columns: [
          #{raw @series.finished_quantity.prepend("Fertig")},
          #{raw @series.remaining_quantity.prepend("Verbleibend")}
        ],
        type: 'bar',
        groups: [
          ["Fertig", "Verbleibend"]
        ],
        order: null,
        colors: {
          "Fertig": "#455A64",
          "Verbleibend": "#ddd"
        },
        labels: true
      },
      axis: {
        x: {
          tick: {
            centered: true
          },
          type: 'categories',
          categories: #{raw @series.quantities_to_hash.map{|k,v| k}}
        },
        y: {
          show: false,
        }
      },
      tooltip: {}
  });