<div class="small-12 medium-6 large-6 columns">
	<p>
		<%= label :billing_address_id, "Rechnungsanschrift" %>	
		<%= collection_select(:order, :billing_address_id, Address.where(contact_id: @order.contact_id), :id, :name, prompt: "Rechnungsanschrift auswählen...") %>
	</p>
</div>

<div class="small-12 medium-6 large-6 columns">
	<p>
	  <%= label :delivery_address_id, "Lieferanschrift" %>	
	  <%= collection_select(:order, :delivery_address_id, Address.where(contact_id: @order.contact_id), :id, :name) %>
	</p>
</div>