<!-- sidebar -->
<%= render partial: "orders/edit/sidebar" %>

<!-- toolbar -->
<%= render "orders/edit/toolbar" %>

<!-- title bar -->
<% content_for :title_bar do %>
	<div class="row">
	  <div class="small-12 columns">
	  	<section>
	    	<h1><%= @order.id %> <span class="thin">Bearbeiten</span></h1>
	    </section>
	  </div>
	</div>
<% end %>

<!-- main content -->
<% content_for :main_content do %>
	<%= render "orders/form" %>
<% end %>