<!-- toolbar -->
<%= render "orders/edit/toolbar" %>

<!-- sidebar in form partial -->

<% content_for :title_bar do %>
	<div class="row">
	  <div class="small-12 columns">
	  	<section>
	    	<h1><%= @order.id %> <span class="thin">Bearbeiten</span></h1>
	    </section>
	  </div>
	</div>
<% end %>

<!-- End Header -->

<!-- MAIN CONTENT -->

<% content_for :main_content do %>

	<%= render "orders/form" %>

<% end %>