<!-- toolbar -->
<%= render "orders/index/toolbar" %>

<!-- search -->
<%= render "orders/index/search" %>

<!-- title bar -->
<% content_for :title_bar do %>
  <div class="row">
    <div class="small-12 columns">
      <h1 class="page-heading">Aufträge</h1>
    </div>
  </div>
<% end %>

<!-- Secondary Sidebar -->

<%= render "orders/index/sidebar" %>

<!-- main content -->

<% content_for :main_content do %>

  <div class="row">    
    <div class="small-12 columns">

      <% @orders.each do |order| %>
        <%= render partial: "orders/order_item", locals: { order: order } %>
      <% end %>

    </div>
  </div>

<% end %>