<!-- search -->
= render "orders/index/search"

<!-- toolbar -->
= render "orders/show/toolbar"

<!-- title bar -->
- content_for :title_bar
  .row
    .small-12.columns
      section
        h1= @order.id

<!-- sidebar -->
= render "orders/show/sidebar"

<!-- main content -->
- content_for :main_content

  .row
    .small-12.columns
      section
        .row
          .small-12.columns
            h4= @order.try(:billing_name)
            hr
        .row
          .small-12.medium-6.columns
            p
              label Rechnungsansschrift
              = @order.try(:billing_name)
              br
              = "#{@order.try(:billing_street)} #{@order.try(:billing_house_number)}"
              br
              = "#{@order.try(:billing_zip)} #{@order.try(:billing_city)}"
              br
              = @order.try(:billing_country)
          .small-12.medium-6.columns
            p
              label Lieferanschrift
              = @order.try(:delivery_name)
              br
              = "#{@order.try(:delivery_street)} #{@order.try(:delivery_house_number)}"
              br
              = "#{@order.try(:delivery_zip)} #{@order.try(:delivery_city)}"
              br
              = @order.try(:delivery_country)

  .row
    .small-12.columns
      section
        - @order.line_items.each do |li|
          = render partial: "orders/show/line_item", locals: { :li => li }


  .row
    .small-12.medium-3.columns
      = link_to "Zurück", orders_path, class: "button secondary expand"

    .small-12.medium-3.columns.right
      = link_to "Bearbeiten", edit_order_path, class: "button expand"
      = button_to "Löschen", @order, method: :delete, data: { confirm: "Wirklich löschen?" }, class: "button alert expand"
