<% @section = "Kontakte" %>

<!-- HEADER -->

<% content_for :breadcrumbs do %>
  <div class="row">
    <div class="small-12 columns">
      <ul class="breadcrumbs">
        <li><%= link_to "Home", "/" %></li>
        <li><%= render "/layouts/breadcrumbs/sections" %></li>
        <li>Kontakt hinzufügen</li>    
      </ul>
    </div>
  </div>
<% end %>

<% content_for :title_bar do %>
  <div class="row">
    <div class="large-9 small-9 columns">
      <h1 class="page-heading">Kontakt hinzufügen</h1>
    </div>
    <div class="large-3 small-3 columns">
      <ul class="inline-list right">
        <li>
          <h2><%= link_to '', new_contact_path, class: "ion-ios7-plus-outline toolbar" %></h2>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<!-- End Header -->

<!-- MAIN CONTENT -->

<% content_for :main_content do %>

  <%= render "contacts/form" %>

<% end %>

<!-- END MAIN CONTENT -->