<h4>Aufträge</h4>

<table>

  <thead>
    <tr>
      <th width="100">Status</th>
      <th width="100">Auftrag</th>
      <th width="120">Erstellt</th>
      <th width="120">Abgeschlossen</th>
      <th>Artikel</th>
      <th width="150" class="cell-right">Betrag</th>
    </tr>
  </thead>

  <tbody>
		<% @contact.orders.includes(:line_items, :products).order(created_at: :desc).each do |order| %>
			<%= render partial: "contacts/show/item_order", locals: { order: order } %>
		<% end %>
  </tbody>

</table>

<div class="row">
	<div class="small-12 columns text-right">

		<h4 class="bold"><%= number_to_currency(@contact.line_items.to_a.sum(&:price_total)) %></h4>

	</div>
</div>