<% content_for :toolbar do %>

  <div class="row">
    <div class="small-12 columns">
      <div class="toolbar">
        <ul class="inline-list show-for-medium-up">
          <li><%= link_to icon("add", text: "Neu"), new_contact_path %></li>
          <li><%= link_to icon("pencil", text: "Bearbeiten"), edit_contact_path(@contact) %></li>
          <li id="search-toggle"><%= link_to icon("search", text: "Suchen"), "#" %></li>
        </ul>
      </div>
    </div>
  </div>

<% end %>