<% content_for :toolbar do %>

  <div class="row">
    <div class="small-12 columns">
      <div class="toolbar">
        <ul class="inline-list show-for-medium-up">
          <li><%= link_to inline_icon("Neuer Kontakt", "ion-ios7-plus-outline"), new_contact_path %></li>
          <li id="search-toggle"><%= link_to inline_icon("Suchen", "ion-ios7-search"), "#" %></li>
        </ul>
      </div>
    </div>
  </div>

<% end %>