.chart-container style="max-width: 990px"
  .chart#stock_chart

javascript:
  var stock_chart = c3.generate({
      bindto: "#stock_chart",
      data: {
        columns: [
          #{raw @product.available_stock_array.prepend("Verfügbar")},
          #{raw @product.sales_backordered_values.prepend("Reserviert")}
        ],
        type: 'bar',
        groups: [
          ["Verfügbar", "Reserviert"]
        ],
        order: null,
        colors: {
          "Verfügbar": "#333",
          "Reserviert": "#DDD",
        },
        labels: false
      },
      axis: {
        x: {
          type: 'category',
          categories: #{raw @product.size_set.sizes_as_array},
          tick: {
            centered: true,
            multiline: false,
          }
        },
        y: {
          show: true,
          tick: {},
        }
      },
      tooltip: {
        format: { }
      },
      grid: {
        y: {
          show: true
        }
      },
  });

  $(document).on('turbolinks:load', function() {
     if (typeof chart !== 'undefined') {
       stock_chart.resize();
     }
  });