.chart#chart_sales_per_month

javascript:
  var de = d3.locale({
    'decimal': ',',
    'thousands': '.',
    'grouping': [3],
    'currency': ['€ ', ''],
    'dateTime': '%a %b %e %X %Y',
    'date': '%m/%d/%Y',
    'time': '%H:%M:%S',
    'periods': ['AM', 'PM'],
    'days': ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
    'shortDays': ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
    'months': ['Januar', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
    'shortMonths': ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
  });


  var chart = c3.generate({
    bindto: "#chart_sales_per_month",
    data: {
      columns: [
        #{raw @product.line_items.joins(:order).where("orders.completed_at BETWEEN '#{13.months.ago}' AND '#{Time.now}'").to_a.group_by_month(&:completed_at).map{|k,v| v.map(&:quantity).sum.to_i }.prepend("Menge")}
      ],
      type: 'area',
      colors: {
        "Menge": '#451A64'
      }
    },
    axis: {
      x: {
        tick: {
          centered: true,
          outer: false
        },
        type: 'category',
        categories: #{get_columns(Order.where(completed_at: 13.months.ago..Time.now), "months", :completed_at)}
      },
      y: {
        show: false,
      }
    },
    tooltip: {
      format: { }
    }
  });