.chart#chart_stock style="max-width: 990px;"

javascript:
  var de = d3.locale({
    'decimal': ',',
    'thousands': '.',
    'grouping': [3],
    'currency': ['€ ', ''],
    'dateTime': '%a %b %e %X %Y',
    'date': '%m/%d/%Y',
    'time': '%H:%M:%S',
    'periods': ['AM', 'PM'],
    'days': ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
    'shortDays': ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
    'months': ['Januar', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
    'shortMonths': ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
  });


  var chart = c3.generate({
      bindto: "#chart_stock",
      data: {
        columns: [
          #{raw @product.available_stock_array.prepend("Verfügbar")},
          #{raw @product.sales_backordered_values.prepend("Reserviert")}
        ],
        type: 'bar',
        groups: [
          ["Verfügbar", "Reserviert"]
        ],
        order: null,
        colors: {
          "Verfügbar": "#A4B93A",
          "Reserviert": "#DA284B",
        },
        labels: false
      },
      axis: {
        x: {
          type: 'category',
          categories: #{raw @product.size_set.sizes_as_array},
          tick: {
            centered: true
          }
        },
        y: {
          show: false,
          tick: { }
        }
      },
      tooltip: {
        format: { }
      }
  });