.chart#chart_sales_per_month

javascript:
  var chart = c3.generate({
    bindto: "#chart_sales_per_month",
    data: {
      columns: [
        #{raw @product.line_items.completed_since(13.months.ago.beginning_of_month).monthly_sales_as_array.prepend("Absatz")}
      ],
      type: 'line',
      colors: {
        'Absatz': '#333'
      }
    },
    axis: {
      x: {
        tick: {
          culling: true,
          centered: true,
          outer: false
        },
        type: 'category',
        categories: #{raw @product.line_items.completed_since(13.months.ago.beginning_of_month).group_by_month(:completed_at, format: "%b %Y").count.map{|k, v| k}}
      },
      y: {
        show: true,
        tick: {
          culling: true,
        }
      }
    },
    tooltip: {
      format: { }
    },
    grid: {
      y: {
        show: true
      }
    }
  });