canvas.chart#chart_sales_per_month

javascript:
  var ctx = document.getElementById('chart_sales_per_month');
  var chart = new Chart(ctx, {
    type: 'line',
      data: {
        labels: #{raw @product.line_items.completed_since(13.months.ago).group_by_month(:completed_at, format: "%b %Y").count.map{|k, v| k}},
        datasets: [
          {
            label: 'Verfügbar',
            data: #{ raw @product.line_items.completed_since(13.months.ago.beginning_of_month).monthly_sales_as_array },
            borderColor: '#333',
          }
        ]
      },
      options: {
        scales: {
          xAxes: [{
          }],
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }]
        },
      }
  });