= search_form_for @search, url: search_retailers_path, method: :post, class: "subnav-search-form" do |f|
  = f.search_field :name_or_addresses_city_cont, placeholder: "P", class: "subnav-search-field"