<a href="#" data-dropdown="items" data-options="is_hover:true">
	<%= @contact.name %>
</a>
<ul id="items" class="f-dropdown" data-dropdown-content>
	<% Contact.all.sort_by{|e| e[:name]}.each do |c| %>
	  <li><%= link_to c.name, contact_path(c) %></li>
  <% end %>
</ul>