<a href="#" data-dropdown="sections" data-options="is_hover:true"><%= @section %></a>
<ul id="sections" class="f-dropdown" data-dropdown-content>
  <li><%= link_to "Artikel", products_path %></li>
  <li><%= link_to "Kontakte", contacts_path %></li>
  <li><%= link_to "Aufträge", products_path %></li>
</ul>