// CALCULATE QUANTITY

$('form').on('change', '.size-input', function () {

    var product_id = $(this).closest('#line_item').find('.order_line_items_product_id').val();
    var quantity = 0;
    
    $(this).closest('#line_item').find('.size-input').each(function() {
        quantity += Number($(this).val());
    });

    console.log(
        'quantity: ' + quantity,
        'Product_id: ' + product_id
    );

    $(this).closest('#line_item').find('#quantity').html('<span class="quantity">' + quantity + '</span>');

    $(this).closest('#line_item').find('#price_total').load (
        "/line_items/update_price_total",
        { "product_id": product_id, "quantity": quantity }
    );

});



// SELECT product_id

$('body').on('change', '.order_line_items_product_id', function () {

    var order_id = $('form').data('order-id');
    var line_item_temp_id = $(this).closest('#line_item').data('item-temp-id');
    var product_id = $(this).val();
    var quantity = $(this).closest('#line_item').find('#quantity').text();

    console.log('line_items#get_product_price triggered');

    console.log(
        'order_id: ' + order_id,
        'line_item_temp_id: ' + line_item_temp_id,
        'product_id: ' + product_id,
        'quantity: ' + quantity
    );

    // update price_single

    $(this).closest('#line_item').find('#price_single').load (
        "/line_items/update_price_single",
        { "product_id": product_id }
    );

    $(this).closest('#line_item').find('#price_single_input').val().load (
        "/line_items/update_price_single",
        { "product_id": product_id }
    );    

    // update price_total

    $(this).closest('#line_item').find('#price_total').load (
        "/line_items/update_price_total",
        { "product_id": product_id, "quantity": quantity }
    );

});