$('.size-input').change(function () {

    var sum = 0;
    
    $('.size-input').each(function() {
        sum += Number($(this).val());
    });

    console.log(sum);

    $('.total').html('<span class="total">' + sum + '</span>');

});