<% content_for :sidebar do %>
  <div id="secondary-sidebar">

    <div class="secondary-sidebar-header">
      <%= search_form_for @search do |f| %>
        <%= f.search_field :contact_name_cont, placeholder: "Suchen...", id: "secondary-search-field" %>
      <% end %>
    </div>

    <ul class="secondary-itemlist">
      <% @orders.each do |order| %>
        <%= render partial: "orders/list_item", locals: { order: order } %>
      <% end %>
    </ul>
  
    <div class="sidebar-nav inverted">
      <%= paginate @orders %>
    </div>

  </div>
<% end %>