<% content_for :toolbar do %>

  <div class="row">
    <div class="small-12 columns">
      <div class="toolbar">
        <ul class="inline-list">
          <li><%= link_to icon("add", text: "Neu"), new_order_path %></li>
          <li><%= link_to icon("pencil", text: "Bearbeiten"), edit_order_path(@order) %></li>
          <li id="search-toggle"><%= link_to icon("search", text: "Suchen"), "#" %></li>
          <li class="right">
            <%= link_to icon("bin", text: "Löschen"), @order, method: :delete, data: { confirm: "Wirklich löschen? Dieser Vorgang kann nicht rückgängig gemacht werden." } %>
          </li>
        </ul>
      </div>
    </div>
  </div>

<% end %>