= search_form_for @search, url: search_contacts_path, method: :post, class: "sidebar-search-form" do |f|
  = f.search_field :name_or_addresses_city_cont, placeholder: "Suchen", class: "sidebar-search-field"