#chart_revenue

javascript:
  var de = d3.locale({
    'decimal': ',',
    'thousands': '.',
    'grouping': [3],
    'currency': ['€ ', ''],
    'dateTime': '%a %b %e %X %Y',
    'date': '%m/%d/%Y',
    'time': '%H:%M:%S',
    'periods': ['AM', 'PM'],
    'days': ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
    'shortDays': ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
    'months': ['Januar', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
    'shortMonths': ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
  });


  var chart = c3.generate({
      bindto: "#chart_revenue",
      data: {
        columns: [
          #{ raw @line_items.map{|months, items| items.sum(&:price_total).to_i}.prepend('Umsatz (Aktuelles Jahr)')},
          #{ raw @line_items_previous_year.map{|months, items| items.sum(&:price_total).to_i}.prepend('Umsatz (Vorjahr)')}
        ],
        type: 'area',
        labels: {
          format: {
            y: de.numberFormat('$'),
          }
        },
        colors: {
          "Umsatz (Aktuelles Jahr)": '#455A64',
          "Umsatz (Vorjahr)": '#7BF730',
          "Shop": '#CAAE93'
        }
      },
      axis: {
        x: {
          tick: {
            centered: true
          },
          type: 'categories',
          categories: #{raw @line_items.map{|months, items| l months, format: "%b %Y"}}
        },
        y: {
          show: false,
          tick: {
            format: de.numberFormat("$")
          }
        }
      },
      tooltip: {
        format: {
          value: de.numberFormat('$')
        }
      },
      regions: [
        {start: 12.5, end: 13.5, class: 'highlighted-region'}
      ]
  });