/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require ionicons
 *= require jquery.minicolors
 *= require c3
 *= require_self
 */

 @import "foundation_and_overrides";


/* ----- COLORS ----- */

$GLS100CCG: #CFB597;
$GLS200CCG: #CFB597;
$GLS200SSS: #000;
$GLS100SSS: #000;
$GLS100MMS: #424557;
$GLS200MMS: #424557;

$inverted: #fff;


/* ----- LAYOUT ----- */

section {
	margin-bottom: 5rem;
}


/* ----- TOP BAR ----- */

.top-bar-section {
	text-transform: uppercase;

	.dropdown {

		li {
			a {
				font-weight: 300;
			}
		}
	}

}

/* ----- INVERTED SECTIONS ----- */

.inverted,
.inverted h1,
.inverted h2,
.inverted h3,
.inverted h4,
.inverted h5,
.inverted h6,
.inverted input,
.inverted p,
.inverted a {
	color: $inverted;
}

.inverted input:hover,
.inverted input:focus {
	border-color: #fff
}

.inverted a:hover {
	color: $highlight-color;
}

.inverted label {
	color: $inverted;
	opacity: 0.6;
}


/* ----- SEARCH ----- */

#search {
	background-color: scale-color($primary-color, $lightness: 30%);
	padding: 1rem;
}

.searchbar {
	background-color: $secondary-color;
	padding: 1em;
	position: relative;
	margin-bottom: 3rem;
}

.searchbar-label {

}

.searchbar-actions button {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	margin: 0px;
}

/* ----- FORMS ----- */

div.fields {
	margin-bottom: 1rem;
}

@mixin input {
	border: none;
	border-bottom: 1px solid darken($secondary-color, 10%);
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
	@include input;
	background: none;
}

select {
	@include input;
	background-color: transparent;
}

input:hover,
input:focus {
	background: none;
	border-bottom: 1px solid $primary-color;
}

input[type="submit"]:hover,
input[type="button"]:hover {
	border: none;
}

select:hover,
select:focus {
	background-color: transparent;
}

.minicolors-input {
	height: 100% !important;
}

.searchbar ul.inline-list {
	margin-bottom: 0;
}




/*----- TABS -----*/
.tabs {

	background-color: $secondary-color;

	dd.active {
		color: #fff;

		a {
			color: inherit !important;
		}
	}
}


/* ----- TABLES ----- */

table {
	width: 100%;
	border-collapse: collapse;

	tr {
		border-bottom: 1px solid $secondary-color;

		td.first,
		th.first {
			padding-left: 0;
		}

		td.last,
		th.last {
			padding-right: 0;
		}

		th {
			color: #aaa;
			padding-left: 0.25rem;
			padding-right: 0.25rem;
		}

		td {
			padding-left: 0.25rem;
			padding-right: 0.25rem;
			vertical-align: middle;
		}

		th.cell-right,
		td.cell-right {
			text-align: right;
		}

	}

	tr.enabled {
		border:none;
	}

}

thead > tr {
	border: none;
	vertical-align: bottom;
	font-family: "futura-pt", "Helvetica Neue", "Arial", "Sans-serif"

	th {
		padding-left: 0.25rem;
		padding-right: 0.25rem;
	}
}





/*----- SUB BAR ----- */

.sub-bar {
	background-color: $secondary-color;
	box-sizing: border-box
}

.actions {

	dd, dt {
		color: $primary-color;
		margin: 0;
		padding: 0.5rem 1rem;
		font-weight: 300;
		text-transform: uppercase;
		text-align: center;

		&:hover{
			background-color: $primary-color;
			color: $body-bg;
		}

		&.enabled {
			background-color: scale-color($primary-color, $lightness: 30%);
			color: #fff;
		}

		a {
			color: inherit;
			padding: 0;

			&:hover{
				color: inherit;
			}
		}
	}
}

.f-dropdown {
	z-index: 98;
}

.f-dropdown:after {
	border: none;
}












/* ----- Flash messages ----- */

.alert-box {
	margin-bottom: 0;
	border: none;
	z-index: -99;

	a.close {
		color: inherit;
	}
}

.alert-box.success {
	background-color: limegreen;
	color: #fff;
}

.alert-box.notice {
	background-color: lightskyblue;
	color: #fff;
}

.alert-box.error {
	background-color: indianred;
	color: #fff;
}





/*----- GENERAL ----- */

#content {
	-webkit-transition: -webkit-transform 200ms ease;
	-moz-transition: -moz-transform 200ms ease;
	-o-transition: -o-transform 200ms ease;
	transition: transform 200ms ease;
	@media #{$medium-only} {

	};

	@media #{$large-up} {
		left: 300px;
		right: 0px;
		position: absolute;
	}

	&.disabled {
		-webkit-transform: translate3d(300px, 0, 0);
		-moz-transform: translate3d(70%, 0, 0);
		-ms-transform: translate3d(70%, 0, 0);
		-o-transform: translate3d(70%, 0, 0);
		transform: translate3d(300px, 0, 0);
	}
}

.titlebar {
	background-color: #E5DDCB;
}


input {
	box-shadow: none;
}


.error_explaination {
	
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

hr {
	margin: 1rem 0;
}














/*----- TYPOGRAPHY ----- */

body {
	font-family: "ff-meta-web-pro"
}

h1, h2, h3, h4, h5, h6 {
	font-family: "futura-pt","Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

h1 {
	font-weight: 700;
}

a.link {
	border-bottom: 1px dotted #ccc;
	line-height: normal;

	&:hover {
		border-bottom: 1px dotted $primary-color;
	}
}

.page-heading {
	margin: 0 0 1em;
	font-weight: 700;
}

.page-toolbar {
}

.section-label {
	color: #aaa;
	font-family: "futura-pt","Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	font-size: 1em;
	font-weight: 100;
	margin-bottom: 0.3em;
}

.inline-label {
	color: #666;
	display: inline !important;
	font-weight: 600;
	font-variant: small-caps;
	text-transform: lowercase;
	font-family: "futura-pt", "Helvetica Neue", "Arial"
}

.light {
	opacity: 0.7;
}

.italic {
	font-style: italic;
}

.thin {
	font-weight: 100;
}

.bold {
	font-weight: 700;
}

.small {
	font-size: 0.875rem;
}

.push-up {
	margin-top: -0.5rem;
}

.truncated {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}















/*----- LABELS ----- */

.label {
	font-family: "futura-pt","Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	font-weight: normal;
	text-transform: uppercase;
}

.share-label {
	background-color: $primary-color;
	// border-right: 1px solid #fff;
	// float: left;
	font-size: 0.75rem;
	font-weight: normal;
	margin-bottom: inherit;
	padding: 0.25rem 0.5rem;
	//text-transform: uppercase;
	white-space: nowrap;
	display: inline-block;
	text-align: center;
	width: 100px;
	margin: 0.1rem 0;
	overflow: hidden;
}















/* ----- PANELS ----- */

.toolbar {
	margin: 0 0 1rem 0;
	box-sizing: border-box;
	padding: 1rem 0;
	border-bottom: 1px solid $secondary-color;

	ul {
		margin-bottom: 0px;
	}
}

.toolbar-panel {
	@extend .toolbar;
	background-color: scale-color($secondary-color, $lightness: -5%);
	margin-bottom: -1.25rem !important;
	margin: -1.25rem;
	margin-top: 1rem;
}


.toolbar a:hover {
	color: scale-color($highlight-color, $lightness: 0%);
}


.item {
	margin-bottom: 2rem;
}









/* ----- ORDERS ----- */

.small-icon-list {
	@include inline-list;
	margin: 0px;

	li {
		margin-left: 0;
		margin-right: 1rem;
	}

}

.size-row li {
	text-align: center;
}

.size-row li input[type="text"] {
	background: none;
	border: 1px solid #ddd;
	border-top: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	height: 1.6rem;
}

.size-row li input[type="text"]:hover,
.size-row li input[type="text"]:focus {
	border: 1px solid $primary-color;
	border-top: none;
}

.size-input,
.size-label {
	text-align: center;
}

.size-label {
	font-size: 0.8em;
	color: #999;
}

.size-input {
	border: 1px solid #ddd;
	border-top: none;
	background: none;
}

.color-tile {
	height: 1.063rem;
	width: 1.063rem;
	display: inline-block;
}

.colorbar {
	min-height: 10px;
	padding: 0.3rem 1rem;

	h4 {
		color: inherit;

		small {
			color: inherit
		}

	}
}

.GLS100CCG,
.GLS200CCG {
	background-color: #CFB597;
	border-bottom: 4px solid #ddd;
	color: #fff;
	// background: linear-gradient(to right, #CFB597 50%,#CFB597 50%,#ddd 50%);
}

.GLS100SSS,
.GLS200SSS {
	background-color: #000;
	border-bottom: 1px solid #000;
	color: #fff;
}

.GLS100MMS,
.GLS200MMS {
	background-color: #424557;
	border-bottom: 4px solid #000;
	color: #fff;
}










/*----- SIDEBAR ----- */

#sidebar {
	background-color: $secondary-color;
	-webkit-transition: -webkit-transform 200ms ease;
	-moz-transition: -moz-transform 200ms ease;
	-o-transition: -o-transform 200ms ease;
	transition: transform 200ms ease;
	left: -300px;
	width: 300px;
	position: fixed;
	bottom: 0px;
	top: 45px;
	overflow-y: scroll;
	z-index: 999;
	@media #{$large-up} {
		left: 0px;
	};

	&.enabled {
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(70%, 0, 0);
    -ms-transform: translate3d(70%, 0, 0);
    -o-transform: translate3d(70%, 0, 0);
    transform: translate3d(300px, 0, 0);
	}
}

.sidebar-toggle {
	font-size: 36px;
	text-align: center;
	height: 36px;
	width: 36px;
	position: fixed;
	bottom: 0;
	background-color: $primary-color;
	color: #fff;
	z-index: 999;

	&.enabled {
		-webkit-transition: -webkit-transform 200ms ease;
		-moz-transition: -moz-transform 200ms ease;
		-o-transition: -o-transform 200ms ease;
		transition: transform 200ms ease;
		-webkit-transform: translate3d(300px, 0, 0);
		-moz-transform: translate3d(70%, 0, 0);
		-ms-transform: translate3d(70%, 0, 0);
		-o-transform: translate3d(70%, 0, 0);
		transform: translate3d(300px, 0, 0);
	}
}

.sidebar-header {
	
	// margin: -1rem -1rem 0 -1rem !important;
}

.main-sidebar-header {
	@extend .sidebar-header;
	padding: 1rem !important;
	background-color: scale-color($primary-color, $lightness: -10%);

	&:hover {
		background-color: $highlight-color;
		color: #fff;
	}

}

.sidebar-header {
	height: 59px !important;
	background-color: scale-color($secondary-color, $lightness: -5%)
}

.logo {
	position: absolute;
	bottom: 1rem;
	left: 50px;
}

.sidebar-section {
	padding-top: 1rem;
	padding-bottom: 1rem;
}


#mobile-sidebar {
	background-color: $secondary-color;
}

ul.side-nav {

	li {

		a {
			padding: 0.2rem 0 !important;
		}

		&:hover {
			a {
				background-color: $highlight-color;
				color: #fff;
				padding: 0.2rem 30px !important;
				margin: 0 -30px;
			}			
		}
	}

}

input#search-field {
	padding: 1rem 1.5rem;
	height: 59px;
	border: none;

	&:hover,
	&:focus {
		background-color: #FF4D71;
		color: #fff;
	}
}



.secondary-itemlist {
	margin: 0;
	list-style: none;
	padding-bottom: 125px;
	
	li.sidebar-item {
		border-bottom: 1px solid scale-color($secondary-color, $lightness: -10%);
		
		&.active {
			background-color: #fff;
			color: #fff;
		}

		a {
			padding: 1rem;
			display: block;
			&:hover {
				background-color: $highlight-color;
				color: #fff;
			}
		}

	}
}

.section {
	margin-top: rem-calc(14);
	margin-bottom: 3rem;
}



/* ----- PAGINATION ----- */

.sidebar-nav {
	background-color: $primary-color;
	bottom: 0px;
	padding: 2rem 0.5rem;
	position: fixed;
	width: inherit;

}

nav.pagination {

	text-align: center;

	span {
		font-size: 1rem;
		height: auto;

		&.current {
			border-color: $primary-color;
		}

		a {
			border-radius: 0px;
			padding: 0.5rem 1rem;
		}
	}
}


/* ----- CALENDAR ----- */

.fixed-bottom {	
	bottom: 0;
	position: absolute;
	width: inherit;
}

.dark {
	background-color: $primary-color;
}

.sidebar-calendar {
	overflow-x: scroll;
}

table.calendar {
	width: 100%;
	background: none;
	border: none;

	th {
	}

	tr {
		background-color: transparent;
		border: none;
	}

	td {
		position: relative;
		vertical-align: top;

		a {
			padding: 0 0.25rem;

			&:hover {
				background-color: $primary-color;
				color: #fff;
			}
		}
	}

	td.today {

		a {
			background-color: $highlight-color;
			color: #fff;
		}
	}

	.date-header {

	}

	.date-content {
	}

	.event-item {
		width: 100%;
		display: block;
		margin-bottom: 0.5rem;
		
		&:hover {
			opacity: 0.8;
		}
	}

	.event-header {
		padding: 0.2rem 0.5rem;
	}

	.event-details {
		background-color: linen;
		padding: 0.2rem 0.5rem;
		display: none;
		font-size: 0.875rem;
	}

	.prev-month,
	.next-month {
		opacity: 0.4;
	}

}





/*----- BREADCRUMBS ----- */

.breadcrumbs {
	margin-bottom: 0;
	//border-bottom: 1px solid darken($body-bg, 10%);
}















/*----- DEBUG ----- */

.columns,
.row {
	border: 0px solid #ccc;
}












/*----- Line Items ----- */

.total {
	text-align: right
}







/* -------------------------------------------------------------------------- */
