/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require ionicons
 *= require_self
 */

@import "foundation_and_overrides";

/* ----- COLORS ----- */

$GLS100CCG: #CFB597;
$GLS200CCG: #CFB597;
$GLS200SSS: #000;
$GLS100SSS: #000;
$GLS100MMS: #424557;
$GLS200MMS: #424557;

$inverted: #fff;


/* ----- TOP BAR ----- */

.top-bar-section {
	text-transform: uppercase;

	.dropdown {

		li {
			a {
				font-weight: 300;
			}
		}
	}

}

/* ----- INVERTED SECTIONS ----- */

.inverted,
.inverted h1,
.inverted h2,
.inverted h3,
.inverted h4,
.inverted h5,
.inverted h6,
.inverted input,
.inverted p,
.inverted a {
	color: $inverted;
}

.inverted a:hover {
	color: $highlight-color;
}

.inverted label {
	color: $inverted;
	opacity: 0.6;
}


/* ----- SEARCH ----- */

#search {
	background-color: scale-color($primary-color, $lightness: 30%);
	padding-top: 1rem;
}

.searchbar {
	background-color: $secondary-color;
	padding: 1em;
	position: relative;
	margin-bottom: 3rem;
}

.searchbar-label {

}

.searchbar-actions button {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	margin: 0px;
}

@mixin input {
	border: none;
	border-bottom: 1px solid darken($secondary-color, 10%);
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
	@include input;
	background: none;
}

select {
	@include input;
	background-color: transparent;
}

input:hover,
input:focus {
	background: none;
	border-bottom: 1px solid $primary-color;
}

input[type="submit"]:hover,
input[type="button"]:hover {
	border: none;
}

select:hover,
select:focus {
	background-color: transparent;
}

.searchbar ul.inline-list {
	margin-bottom: 0;
}









/*----- SUB BAR ----- */

.sub-bar {
	background-color: $secondary-color;
	box-sizing: border-box
}

.actions {
	@include sub-nav();
	padding: 0;
	margin: 0;

	dd, dt {
		color: $primary-color;
		margin: 0;
		padding: 0.5rem 1rem;
		font-weight: 300;
		text-transform: uppercase;
		text-align: center;

		&:hover{
			background-color: $primary-color;
			color: $body-bg;
		}

		&.enabled {
			background-color: scale-color($primary-color, $lightness: 30%);
			color: #fff;
		}

		a {
			color: inherit;
			padding: 0;

			&:hover{
				color: inherit;
			}
		}
	}
}

.f-dropdown {
	z-index: 98;
}

.f-dropdown:after {
	border: none;
}












/* ----- Flash messages ----- */

.alert-box {
	border: none;
	z-index: -99;

	a.close {
		color: inherit;
	}
}

.alert-box.success {
	background-color: limegreen;
	color: #fff;
}

.alert-box.notice {
	background-color: lightskyblue;
	color: #fff;
}

.alert-box.error {
	background-color: indianred;
	color: #fff;
}





/*----- GENERAL ----- */

#content {
	@media #{$medium-up} {
		left: 400px;
		right: 0px;
		position: absolute;
	}
}

.titlebar {
	background-color: #E5DDCB;
}


input {
	box-shadow: none;
}

.sidebar-fixed {
	background-color: #b74e3c;
	color: #fff;
	position: fixed;
	height: 100%;
}

.error_explaination {
	
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

hr {
	margin: 1rem 0;
}














/*----- TYPOGRAPHY ----- */

body {
	font-family: "ff-meta-web-pro"
}

h1, h2, h3, h4, h5, h6 {
	font-family: "futura-pt","Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.page-heading {
	margin: 0 0 1em;
	font-weight: 700;
}

.page-toolbar {
}

.section-label {
	color: #aaa;
	font-family: "futura-pt","Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	font-size: 1em;
	font-weight: 100;
	margin-bottom: 0.3em;
}

.light {
	opacity: 0.7;
}

.italic {
	font-style: italic;
}

.small {
	font-size: 0.875rem;
}

.push-up {
	margin-top: -0.5rem;
}















/*----- LABELS ----- */

.label {
	font-family: "futura-pt","Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	font-weight: normal;
	text-transform: uppercase;
}















/* ----- PANELS ----- */

.toolbar {
	margin: 0 0 1rem 0;
	box-sizing: border-box;
	padding: 1rem 0;
	border-bottom: 1px solid $secondary-color;

	ul {
		margin-bottom: 0px;
	}
}

.toolbar-panel {
	@extend .toolbar;
	background-color: scale-color($secondary-color, $lightness: -5%);
	margin-bottom: -1.25rem !important;
	margin: -1.25rem;
	margin-top: 1rem;
}


.toolbar a:hover {
	color: scale-color($highlight-color, $lightness: 0%);
}


.item {
	margin-bottom: 2rem;
}









/* ----- ORDERS ----- */

.size-row li {
	text-align: center;
}

.size-row li input[type="text"] {
	background: none;
	border: 1px solid #ddd;
	border-top: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	height: 1.6rem;
}

.size-row li input[type="text"]:hover,
.size-row li input[type="text"]:focus {
	border: 1px solid $primary-color;
	border-top: none;
}

.size-input,
.size-label {
	text-align: center;
}

.size-label {
	font-size: 0.8em;
	color: #999;
}

.size-input {
	border: 1px solid #ddd;
	border-top: none;
	background: none;
}

.colorbar {
	min-height: 10px;
	padding: 0.3rem 1rem;

	h4 {
		color: inherit;

		small {
			color: inherit
		}

	}
}

.GLS100CCG,
.GLS200CCG {
	background-color: $GLS200CCG;
	color: #fff;
	// background-image: -webkit-gradient(linear, left top, right top, color-stop(33%,rgb(119, 116, 143)), color-stop(66%,rgb(0, 0, 0)))
}

.GLS100SSS,
.GLS200SSS {
	background-color: $GLS200SSS;
	color: #fff;
}

.GLS100MMS,
.GLS200MMS {
	background-color: $GLS200MMS;
	color: #fff;
}










/*----- SIDEBAR ----- */

.sidebar-header {
	height: 59px !important;
	margin: -1rem -1rem 0 -1rem !important;
}

.main-sidebar-header {
	@extend .sidebar-header;
	padding: 1rem !important;
	background-color: scale-color($primary-color, $lightness: -10%);

	&:hover {
		background-color: $highlight-color;
		color: #fff;
	}

}

.secondary-sidebar-header {
	@extend .sidebar-header;
	background-color: scale-color($secondary-color, $lightness: -5%)
}

.logo {
	position: absolute;
	bottom: 1rem;
	left: 50px;
}

#sidebar {
	width: 200px;
	position: fixed;
	height: 100%;
	background-color: $primary-color;
	padding: 1rem;
}

#secondary-sidebar {
	width: 200px;
	left: 200px;
	position: fixed;
	height: 100%;
	background-color: $secondary-color;
	padding: 1rem;
	overflow-y: scroll;
}

input#secondary-search-field {
	padding: 1rem;
	height: 59px;
	border: none;

	&:hover,
	&:focus {
		background-color: #FF4D71;
		color: #fff;
	}
}

.main-sidenav {
  @include side-nav(
    $divider-color: #cccccc,
    $link-color: $body-bg,
    $link-color-hover: $highlight-color
  );
}

.section {
	margin-top: rem-calc(14);
	margin-bottom: 3rem;
}





/*----- BREADCRUMBS ----- */

.breadcrumbs {
	margin-bottom: 0;
	//border-bottom: 1px solid darken($body-bg, 10%);
}















/*----- DEBUG ----- */

.columns,
.row {
	border: 0px solid #ccc;
}












/*----- Line Items ----- */

.total {
	text-align: right
}







/* -------------------------------------------------------------------------- */
