button, .button {
  @include appearance(none);
  @include transition (all 100ms ease-in-out);
  font-size: 1rem;
  background-color: $accent-color;
  border: none;
  color: $white;
  cursor: pointer;
  font-family: $header-font;
  height: auto;
  letter-spacing: 1px;
  margin: 0 1rem 1rem 0;
  outline: none;
  padding: 0.75rem 1rem;
  text-decoration: none;

  &:hover {
    background-color: $black;
    color: $white;
  }

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $end-small) {
    width: 100%;
    display: block;
    margin-right: 0;
    text-align: center;
  }
}

button.secondary, .button.secondary {
  border: 2px solid scale-color($secondary-color, $lightness: -10%);
  color: scale-color($secondary-color, $lightness: -10%);

  &:hover {
    background-color: scale-color($secondary-color, $lightness: -10%);
    color: #fff;
  }
}

button.small,
button.tiny,
.button.small,
.button.tiny {
  padding: 0.5rem 1rem;
  border-width: 1px;
  font-size: 0.8125rem;
}

button.large,
.button.large {
  border-width: 2px;
  letter-spacing: 2px;
}

button.dense,
.button.dense {
  padding: 0.5rem 1rem;
}

button--no-margin,
.button--no-margin {
  margin: 0;
}

footer button, footer .button {
  margin-bottom: 0;
}

