hr {
  border: none;
  border-bottom: 1px solid scale-color($secondary-color, $lightness: -5%);
}

// OFFCANVAS
.search,
.side {
  @include display(flex);
  @include flex-direction(column);
  @include transition(140ms ease-in);
  background-color: $secondary-color;
  z-index: 100;
  position: fixed;
}

.search {
  bottom: 0;
  box-shadow: -2px 2px 0 rgba(0, 0, 0, 0.07);
  position: fixed;
  right: -400px;
  top: 0;
  width: 400px;
  z-index: 100;
}

.search.visible{
  @include transform(translate(-400px,0))
}

.search__header {
  @include flex(0 0 55px);
}

.search__content {
  
}

.search__toggle {
  @include display(flex);
  @include justify-content(flex-start);
  @include transition(140ms ease-in);
  color: #fff;
  cursor: pointer;
  height: 55px;
  padding: 0 1.618rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 101;

  &:hover {
    background-color: #fff;
    color: $primary-color;
  }
}

.search__header .search__toggle {
  width: 100%;
  background-color: $background-color;
  color: $primary-color;
}

.search__toggle.active {
  background-color: $alert-color;

  &:hover {
    background-color: $background-color;
  }
}

.search__toggle.active.visible {
  background-color: $background-color;
}

@media (max-width: $end-small) {
  .search {
    right: -320px;
    width: 320px;
  }

  .search.visible {
    width: 320px;
  }

  .search__toggle.visible {
    @include transform(translate(-320px,0));
  }
}

.side {
  bottom: 0;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.07);
  left: -250px;
  top: 0;
  width: 250px;
  z-index: 100;
}

.side.visible {
  @include transform(translate(250px,0))
}

.side__header,
.search__header {
  @include display(flex);
  align-items: center;
  height: 55px;
  background-color: $background-color;
  padding: 0 1.25rem;
}

.side__content,
.search__content {
  @include flex(1 1);
  padding: 0.5rem $gutter;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.side__footer,
.search__footer {
  padding: $gutter;
  @include flex(0 0 auto)
}

.side__footer {
  background-color: $background-color;
  border-top: 1px solid $hairline-color;
}

.side__toggle {
  @include display(flex);
  @include justify-content(flex-start);
  @include transition(140ms ease-in-out);
  color: #fff;
  cursor: pointer;
  height: 55px;
  left: 0;
  padding: 0 1.618rem;
  position: absolute;
  top: 0;

  &:hover {
    background-color: $background-color;
    color: $primary-color;
  }
}


.side__header .side__toggle {
  width: 250px;
  background-color: $background-color;
  color: $primary-color;
}


// PRODCUTS
.colored_separator {
  clear: both;
  width: 100%;
  height: 2px;
  margin: 1.25rem 0 1.1875rem;
}



// CHARTS
canvas.chart {
  width: 100%;
}

// images
img {
  max-width: 100%;
}




.minicolors-input {
  height: 100% !important;
}

.searchbar ul.inline-list {
  margin-bottom: 0;
}



// TABS
.tabs {
  @include display(flex);
  flex-direction: row;
  flex-flow: row wrap;
  border-bottom: 1px solid $hairline-color;
  list-style: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.tabs .tab-title {
  @include transition(0.1s ease);
  border: 1px solid $background-color;
  border-bottom: 1px solid $hairline-color;
  color: #AAA;
  cursor: pointer;
  display: block;
  flex: 0 0 auto;
  margin-bottom: -1px;
  padding: 0.5rem 1.618rem;
}

.tabs .tab-title > a {
  color: inherit;
}

.tabs .tab-title.active,
.tabs .tab-title.active:hover {
  border: 1px solid $hairline-color;
  border-bottom: 1px solid $background-color;
  color: $font-color;
}

.tabs .tab-title:hover {
  border: 1px solid $secondary-color;
  border-bottom: 1px solid $hairline-color;
  color: $primary-color;
}



.tabs-content {
  height: auto;
}

.tabs-content .tab:not(.active ) {
  display: none;
}





// PANELS
.panel {
  @include display(flex);
  @include hard-shadow;
  background-color: $panel-background;
  display: block;
  margin-bottom: $gutter;
}

.panel--outline {
  @include display(flex);
  background: transparent;
  border: 3px solid $secondary-color;
  display: block;
  margin-bottom: inherit;
  padding: 1.25rem;
}

.panel__bar {
  @include flex(0 0 auto);
  padding: 1rem 1.25rem;
  background-color: $secondary-color;
}
  
.panel__bar--bottom {
}

.panel__bar--top {
  @include transition (all 200ms ease-in-out);
}

.panel__bar--bottom label {
  padding: 0;
}

.panel__bar--actions {
  background-color: $primary-color;
  color: $background-color;
}

.panel__bar__button {
  margin: -1rem -1.25rem;
  padding: 1rem 1.25rem;
  display: inline-block;

  &:hover {
    background-color: $primary-color;
    color: #fff;
  }
}

.panel__body {
  @include flex(1 0 auto);
  padding: 1rem 1.25rem;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.panel__section {
  background-color: #E7FFFA;
  box-shadow: 0px 2px 0 rgba(0, 0, 0, 0.07);
  padding: 1rem 1.25rem;
}


// BREADCRUMBS
.container--breadcrumbs {
  @include flex(0 0 auto);
  @include hard-shadow;
  background-color: $breadcrumb-background-color;
  z-index: 97;
}

ul.breadcrumbs {
  @include flex(1 1);
  @include align-self(center);
  color: #fff;
  font-size: rem(13);
  list-style: none;
  line-height: 1.5rem;
  margin: 0;
  height: 60px;
  padding: 1.1rem 0;
}

ul.breadcrumbs li {
  display: inline;
  color: inherit;
  text-transform: none;

  &:after {
    content: "/";
    margin: 0 0.5rem;
  }

  &:last-child:after {
    content: "";
  }
}

ul.breadcrumbs li a {
  color: inherit;

  &:hover {
    border-bottom: 1px solid $background-color;
  }
}

.subnav-search-form {
  @include flex(0 1 200px);
  @include align-self(center);
}

input[type="search"].subnav-search-field {
  background-color: $background-color;
  border: 1px solid $hairline-color;
  color: $primary-color;
  height: 2.5rem;
  width: 100%;

  @include placeholder {
    display: inline;
    font-family: "manufaktur-icons";
    content: "P";
    color: scale-color($secondary-color, $lightness: -20%);
    padding: 0.25rem 0;
  }

  &:before {
    padding: 1rem;
  }

  &:hover, &:focus {
    background-color: $background-color;
    border-width: 1px;
    border: 1px solid $primary-color;
  }
}


// Flash messages
.flash {
  @include display(flex);
  @include align-items(center);
  position: fixed;
  top: 55px;
  right: 0;
  background-color: #d82b4e;
  color: #fff;
  z-index: 99;
  height: 60px;
  overflow: hidden;
}

.flash__content {
  padding: $gutter;
}

.flash__clear {
  padding: $gutter;
  color: $background-color;
}

.flash__clear:hover {
  background-color: $background-color;
  color: $font-color;
}

.alert-box {
  margin-bottom: 0;
  border: none;
  z-index: 999;

  a.close {
    color: inherit;
  }
}

.alert-box.success {
  background-color: limegreen;
  color: #fff;
}

.alert-box.notice {
  background-color: lightskyblue;
  color: #fff;
}

.alert-box.error {
  background-color: indianred;
  color: #fff;
}



// ORDERS
.small-icon-list {
  margin: 0px;

  li {
    margin-left: 0;
    margin-right: 1rem;
  }

}

.size-row {
  margin-left: 0;
}

.size-row li {
  margin-left: 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  width: 22px;
  min-height: 50px;
}

.size-row li input[type="text"] {
  background: none;
  border: none;
  border-bottom: 1px solid $hairline-color;
  padding: 0;
}

.size-row li input[type="text"]:hover,
.size-row li input[type="text"]:focus {
  border-bottom: 1px solid $primary-color;
}

.size-input,
.size-label {
  text-align: center;
}

.size-label {
  font-size: 0.8em;
}

.size-input {
  border: 1px solid #ddd;
  border-top: none;
  background: none;
}

.color-tile {
  height: 1.063rem;
  width: 1.063rem;
  display: inline-block;
}

.color-tile.offset {
  position: absolute;
  left: -30px;
  top: 2px;
}



// Line Items
.total {
  text-align: right
}

.line_item {
  position: relative;

  .side {
    height: 100%;
    margin-right: 1rem;
    position: absolute;
    width: 10px;
  }

  .content {
    position: absolute;
  }
}



// SIDEBAR
.sidebar-toggle {
  font-size: 24px;
  text-align: center;
  height: 50px;
  width: 50px;
  padding: 12px;
  position: fixed;
  bottom: 0;
  background-color: $primary-color;
  color: #fff;
  z-index: 999;

  &.enabled {
    @include transition (all 200ms ease-in-out);
    @include transform(translateX(300px));
  }
}

.sidebar-header {
  
}

.main-sidebar-header {
  @extend .sidebar-header;
  padding: 1rem !important;
  

  &:hover {
    background-color: $highlight-color;
    color: #fff;
  }

}

.sidebar-header {
  height: 59px !important;
  background-color: scale-color($secondary-color, $lightness: -5%)
}

.sidebar-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}



.section {
  margin-top: rem-calc(14);
  margin-bottom: 3rem;
}



// PAGINATION
nav.pagination {
  text-align: center;
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
}

nav.pagination span.page {
  display: inline;
  height: auto;
  margin: 0 0.5rem;
}

span.page a {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

span.page a:hover {
  background-color: scale-color($secondary-color, $lightness: -5%)
}

nav.pagination span.page:first-child {
  margin-left: 0;
}

nav.pagination span.page:last-child {
  margin-right: 0;
}

span.page--current a,
span.page--current:hover a {
  background-color: $primary-color;
  color: #fff;
}

span.page--prev a {
}

span.page--next a {
}

.pagination__info {
  @include align-items(center);
  @include display(flex);
  color: $background-color;
  font-size: 0.8125rem;
}

.pagination__info a {
  color: inherit;
}

.previous-page,
.next-page {
  display: block;
  padding: 0.5rem 1rem;
}

.previous-page {
  margin-left: -1 * $gutter;
}

.next-page {
  margin-right: -1 * $gutter;
}





/*---------------------*\
        CALENDAR
\*---------------------*/

.fixed-bottom { 
  bottom: 0;
  position: fixed;
  width: inherit;
}

.dark {
  background-color: $primary-color;
}

.sidebar-calendar {
  overflow-x: scroll;
}

table.calendar {
  width: 100%;
  background: none;
  border: none;

  th {
  }

  tr {
    background-color: transparent;
    border: none;
  }

  td {
    position: relative;
    vertical-align: top;

    a {
      padding: 0 0.25rem;

      &:hover {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }

  td.today {

    a {
      background-color: $highlight-color;
      color: #fff;
    }
  }

  .date-header {

  }

  .date-content {
  }

  .event-item {
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
    
    &:hover {
      opacity: 0.8;
    }
  }

  .event-header {
    padding: 0.2rem 0.5rem;
  }

  .event-details {
    background-color: linen;
    padding: 0.2rem 0.5rem;
    display: none;
    font-size: 0.875rem;
  }

  .prev-month,
  .next-month {
    opacity: 0.4;
  }

}



/*-------------------*\
        BADGES
\*-------------------*/
.badge {
  background-color: $primary-color;
  color: $background-color;
  font-size: 0.8125rem;
  padding: 0 0.5rem;
}


/*-------------------*\
        ICONS
\*-------------------*/

span.icon__container {
}

span.icon__icon {
  display: inline;
  margin-right: 0.25rem;
}

span.icon__text {
  @include truncated;
  display: inline;
}

/*-------------------*\
        COMMENTS
\*-------------------*/

.comment {
}

.comment--important {
  
}

.comment__meta {
  font-size: 0.75rem;
  color: #999;
}

.comment__text {
  margin-top: 0px;
}

.comment__action {
  visibility: hidden;
}

.comment:hover .comment__action {
  visibility: visible;
}