.flex-row {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include align-items(center);
  transition: ease 0.25s;
}

.flex-column {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(flex-start);
  @include align-items(stretch);
}

.flex-head-row {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include align-items(stretch);
  font-family: $header-font;
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.6;
  padding-top: 0.5rem;
  text-rendering: geometricPrecision;
}

.flex-item {
  @include flex(0 0 auto);
  margin-right: 1rem;
}

[class*="flex-item"]:last-child,
[class*="flex-head"]:last-child {
  margin-right: 0;
}

@for $i from 1 through 10 {
  .flex-item--#{$i} {
    @include flex($i $i);
    margin-right: 1rem;
  }
  .flex-head--#{$i} {
    @include flex($i $i);
    margin-right: 1rem;
  }
}

$widths: 50 100 150 200 250 300 350 400 500 600 700 800 900 1000;

@each $width in $widths {
  .flex-item--fixed-#{$width} {
    @include flex("0 0 #{$width}px");
    margin-right: 1rem;
  }
  .flex-head--fixed-#{$width} {
    @include flex("0 0 #{$width}px");
    margin-right: 1rem;
  }
}

.flex-item--grow {
  @include flex(1 0 auto);
  margin-right: 1rem;
}

.flex-item--shrink {
  @include flex(0 1 auto);
  margin-right: 1rem;
}

.flex-item--fixed {
  @include flex (0 0 auto)
}