.fields {
  margin-bottom: $gutter;
  position: relative;
}

input,
select.custom,
textarea {
  background: transparent;
  border-radius: 0;
  font-family: inherit;
  font-size: 100%;
  max-width: 100%;
}

input,
textarea {
  @include transition(all 0.25s ease-in-out);
}

input[type=text],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week] {
  @include appearance(none);
  background-color: $light-shade;
  border: 1px solid $hairline-color;
  height: 2.25rem;
  padding: 0 0.5rem;
  width: 100%;

  &:hover,
  &:focus {
    border-color: $primary-color;
  }
}

input[type=checkbox],
input[type=radio] {
  display: inline;
}

input[type=submit] {
}

input[type=submit].link {
  border: none;
  padding: 0;
  cursor: pointer;
}

label.label--inline {
  display: inline;
}

select.custom {
  transition: none;
}

.select-container {
  @include display(flex);
  @include align-items(center);
  @include transition(all 0.25s ease-in-out);
  border-bottom: 1px solid $hairline-color;
  height: 2.25rem;
  padding: .25rem 0;
  width: 100%;

  &:after {
    @include transition(all 0.25s ease-in-out);
    color: $hairline-color;
    content: "E";
    display: inline;
    font-family: "manufaktur-icons";
    font-size: 0.75rem;
    text-align: center;
    width: 23px;
  }

  &:focus,
  &:hover {
    border-color: $primary-color;
    box-shadow: 0 1px $primary-color;

    &:after {
      color: $primary-color;
    }
  }
}

select.custom {
  @include appearance(none);
  @include flex(1 1);
  padding: .25rem 0;
  background-color: $background-color;
  border: none;
}

select {
  font-size: 100%;
}

select.transparent {
  background-color: transparent;
  border-width: 0px;
}

textarea {
  @include appearance(none);
  @include transition(all 0.25s ease-in-out);
  background-color: $light-shade;
  border: 1px solid $hairline-color;
  padding: 0.25rem 0.5rem;
  width: 100%;

  &:hover,
  &:focus {
    border-color: $primary-color;
  }
}

label {
  display: block;
  font-family: $header-font;
  font-weight: 400;
  opacity: 0.6;
  padding-top: 0.5rem;
  text-rendering: geometricPrecision;
}

.label--small {
  font-size: 0.8125rem;
}

.label--on-dark {
  color: #fff;
}

.inline-label {
  color: scale-color($font-color, $lightness: 50%);
  display: inline;
  font-family: $header-font;
  font-variant: small-caps;
  font-weight: 600;
  margin-right: 0.5rem;
  text-transform: lowercase;
}

/*-------------------*\
        SEARCH
\*-------------------*/

form.quicksearch__form {
  @include display(flex);
  width: 197.25px;
}

input.quicksearch__field {
  @include flex(1 1 auto);
  background-color: $secondary-color;
  border: none;
  padding: 0.5rem;
}

input.quicksearch__field:hover,
input.quicksearch__field:focus {
  background-color: $background-color;
  border: none;
  box-shadow: none;
} 

input.quicksearch__button {
  @include appearance(none);
  @include flex(0 0 2.25rem);
  background-color: $primary-color;
  border: none;
  color: $background-color;
  content: "P";
  cursor: pointer;
  font-family: "manufaktur-icons";
  width: 2.25rem;
}

input.quicksearch__button:hover {
  background-color: scale-color($primary-color, $lightness: -10%)
}



/*-------------------*\
      SELECTIZE
\*-------------------*/

.selectize-input {
  @include transition(all 0.25s ease-in-out);
  background-color: $light-shade;
  border-radius: 0;
  border: 1px solid $hairline-color;
  box-shadow: none;
  font-size: 1rem;
  height: 2.25rem;
  line-height: 1rem;
  padding: 0;
}

.selectize-input.full,
.selectize-input.input-active {
}

.selectize-input input {
  transition: none;
}

.selectize-input:hover, {
  border-color: $primary-color;
}

.selectize-input.focus {
  box-shadow: none;
  border-radius: 0;
  border: none;
  background-color: $light-shade;
  border: 1px solid $primary-color;
}

.selectize-input .item {
  height: 100%;
  padding: 0.625rem 0;
}

.selectize-control {
  height: 2.25rem;
}

.selectize-dropdown {
  @include hard-shadow;
  width: 100% !important;
  border: 1px solid $primary-color;
  border-radius: 0;
}

.selectize-dropdown-content .option.active,
.selectize-dropdown-content .selected {
  background-color: $primary-color;
  color: #fff;
}

.selectize-control.single .selectize-input.input-active {
}