// font stacks
$body-font: "ff-meta-web-pro", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
$header-font: "futura-pt", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";

// colors
$hairline-color: #e2e2e2;

// reusable stylings
@mixin subtle-shadow {
  box-shadow: 0 1.5px 3px rgba(50, 50, 50, 0.14), 0 2px 8px rgba(50, 50, 50, 0.04)
} 

// hide outline on focus
*:focus {
  outline: none;
}