$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: 80em,
  container-position: center,
  columns: 12,
  gutters: 1/4,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: from,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
);


.row {
  @include container;
  width: 100%;
}



// small devices
//spans

.span-small-1 {
  @include span(1);
  &:last-child {
    margin-right: 0;
  }
}

.span-small-2 {
  @include span(2);
  &:last-child {
    margin-right: 0;
  }
}

.span-small-3 {
  @include span(3);
  &:last-child {
    margin-right: 0;
  }
}

.span-small-4 {
  @include span(4);
  &:last-child {
    margin-right: 0;
  }
}

.span-small-5 {
  @include span(5);
  &:last-child {
    margin-right: 0;
  }
}

.span-small-6 {
  @include span(6);
  &:last-child {
    margin-right: 0;
  }
}

.span-small-7 {
  @include span(7);
  &:last-child {
    margin-right: 0;
  }
}

.span-small-8 {
  @include span(8);
  &:last-child {
    margin-right: 0;
  }
}

.span-small-9 {
  @include span(9);
  &:last-child {
    margin-right: 0;
  }
}

.span-small-10 {
  @include span(10);
  &:last-child {
    margin-right: 0;
  }
}

.span-small-11 {
  @include span(11);
  &:last-child {
    margin-right: 0;
  }
}

.span-small-12 {
  @include span(12);
  &:last-child {
    margin-right: 0;
  }
}

// block grid
[class*="small-block-"] > li,
[class*="medium-block-"] > li,
[class*="large-block-"] > li, {
  margin-bottom: 1rem;
}

[class*="small-block-"]:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

.small-block-1 > li {
  @include gallery(12/1 before);
  float: none;
}

.small-block-2 > li {
  @include gallery(12/2 before);
}

.small-block-3 > li {
  @include gallery(12/3 before);
}

.small-block-4 > li {
  @include gallery(12/4 before);
}

.small-block-5 > li {
  @include gallery(12/5 before);
}

.small-block-6 > li {
  @include gallery(12/6 before);
}

.small-block-7 > li {
  @include gallery(12/7 before);
}

.small-block-8 > li {
  @include gallery(12/8 before);
}

.small-block-9 > li {
  @include gallery(12/9 before);
}

.small-block-10 > li {
  @include gallery(12/10 before);
}

.small-block-11 > li {
  @include gallery(12/11 before);
}

.small-block-12 > li {
  @include gallery(12/12 before);
}

// medium devices
@media (min-width: $start-medium) {
  // spans
  .span-medium-1 {
    @include span(1);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-medium-2 {
    @include span(2);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-medium-3 {
    @include span(3);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-medium-4 {
    @include span(4);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-medium-5 {
    @include span(5);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-medium-6 {
    @include span(6);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-medium-7 {
    @include span(7);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-medium-8 {
    @include span(8);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-medium-9 {
    @include span(9);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-medium-10 {
    @include span(10);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-medium-11 {
    @include span(11);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-medium-12 {
    @include span(12);
    &:last-child {
      margin-right: 0;
    }
  }

  // block grid
  .medium-block-1 > li {
    @include gallery(12/1 before);
  }

  .medium-block-2 > li {
    @include gallery(12/2 before);
  }

  .medium-block-3 > li {
    @include gallery(12/3 before);
  }

  .medium-block-4 > li {
    @include gallery(12/4 before);
  }

  .medium-block-5> li {
    @include gallery(12/5 before);
  }

  .medium-block-6 > li {
    @include gallery(12/6 before);
  }

  .medium-block-7 > li {
    @include gallery(12/7 before);
  }

  .medium-block-8 > li {
    @include gallery(12/8 before);
  }

  .medium-block-9 > li {
    @include gallery(12/9 before);
  }

  .medium-block-10 > li {
    @include gallery(12/10 before);
  }

  .medium-block-11 > li {
    @include gallery(12/11 before);
  }

  .medium-block-12 > li {
    @include gallery(12/12 before);
  }
}



// large devices
@media (min-width: $start-large) {
  // spans
  .span-large-1 {
    @include span(1);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-large-2 {
    @include span(2);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-large-3 {
    @include span(3);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-large-4 {
    @include span(4);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-large-5 {
    @include span(5);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-large-6 {
    @include span(6);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-large-7 {
    @include span(7);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-large-8 {
    @include span(8);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-large-9 {
    @include span(9);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-large-10 {
    @include span(10);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-large-11 {
    @include span(11);
    &:last-child {
      margin-right: 0;
    }
  }

  .span-large-12 {
    @include span(12);
    &:last-child {
      margin-right: 0;
    }
  }



  // block grid
  .large-block-1 > li {
    @include gallery(12 before);
  }

  .large-block-2 > li {
    @include gallery(6 before);
  }

  .large-block-3 > li {
    @include gallery(4 before);
  }

  .large-block-4 > li {
    @include gallery(12/4 before);
  }

  .large-block-5 > li {
    @include gallery(12/5 before);
  }

  .large-block-6 > li {
    @include gallery(2 before);
  }

  .large-block-7 > li {
    @include gallery(12/7 before);
  }

  .large-block-8 > li {
    @include gallery(12/8 before);
  }

  .large-block-9 > li {
    @include gallery(12/9 before);
  }

  .large-block-10 > li {
    @include gallery(12/10 before);
  }

  .large-block-11 > li {
    @include gallery(12/11 before);
  }

  .large-block-12 > li {
    @include gallery(12/12 before);
  }
}