// PROGRESS BAR
html.turbolinks-progress-bar::before {
  background-color: $breadcrumb-background-color !important;
  height: 2px !important;
}

.full-width {
  display: table;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

// LAYOUT
* {
  box-sizing: border-box;
}

html {
}

body {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(flex-start);
  background-color: $background-color;
  margin: 0;
}

body.inactive {
  overflow: hidden;
}

body.inactive .main__content__overlay {
  display: block;
  @include transition(140ms ease-in);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(44, 44, 44, 0.4)
}

.main__content {
  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;
  margin-top: 55px;
}

.main__content__overlay {
  display: none;
  z-index: 98;
}

header {
  @include flex(0 0 auto);
  background-color: $primary-color;
  padding-bottom: 2rem;
  padding-left: $gutter;
  padding-right: $gutter;
  padding-top: 4rem;
}

.container {
  padding-left: $gutter;
  padding-right: $gutter;
}

.container--main {
  @include flex(1 0 auto);
  padding-bottom: 60px;
}

.header-title {
  margin-bottom: 4rem;
}

.header-actions {
}

.content {
  @include flex(1 1);
  @include transition (all 200ms ease-in-out);
  @include display(flex);
  @include flex-direction(row);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
  margin-top: 3rem;
  margin-bottom: 2rem;

  @media (screen and max-width: $end-tablet-portrait) {
    @include flex-direction(column);
  }
}

.sidebar {
  @include flex(0 0 250px);
  border: none;
  border-left: 1px solid $hairline-color;
  margin-left: $gutter;
  margin-right: $gutter * -1;
  padding: 0 $gutter;

  @media (screen and max-width: $end-tablet-portrait) {
    @include flex(0 0);
    border: none;
    margin-bottom: 1.618rem;
    margin-left: -1 * $gutter;
    margin-right: -1 * $gutter;
    padding: $gutter;
    background-color: $panel-background;
  }
}

.main {
  @include flex(1 1)
}

.logo {
  height: 60px;
  margin-bottom: 2rem;
  position: relative;
  text-align: center;
  
  img {
    padding: 6.5px;
  }
}

.logo-link {
  background-color: $primary-color;
  display: block;
  width: 100%;
  height: 100%;

  &:hover {
    background-color: scale-color($primary-color, $lightness: -5%)
  }
}

footer {
  flex: 0 auto;
  padding: 0 $gutter;
  width: 100%;
  z-index: 98;
  background-color: $panel-background;
  @include hard-shadow--inset
}

.footer-content {
  @include container;
  border-top: 1px solid $hairline-color;
  padding: 4rem 0;
}

section {
  margin-bottom: 5rem;
}