// DEBUG
.columns,
.row {
	border: 0px solid #ccc;
}

.full-width {
  display: table;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

// LAYOUT
section {
	margin-bottom: 5rem;
}



.container {
	@include display(flex);
	@include flex-direction(column);
	@include justify-content(flex-start);
	@include transition(all 200ms ease-in-out);

	top: 45px;
	bottom: 0px;

	&.disabled {
		@include transform(translateX(300px));
	}
}

#header {
	@include flex(0 0);
	z-index: 1;

	#title-area {
		background-color: scale-color($primary-color, $lightness: 20%);
		padding: 1.25rem 0 2rem 0rem;
	}
}

.logo {
	height: 60px;
	margin-bottom: 2rem;
	position: relative;
	text-align: center;
	border-bottom: 1px solid $secondary-color;
	
	img {
		padding: 6.5px;
	}
}

.title {
	padding-top: 2rem;
}

.content-area {
	@include flex(1 0);
	@include display(flex);
	@include flex-direction(row);
	@include justify-content(flex-start);
	@include align-items(stretch);
	overflow: scroll;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	@media #{$small-only} {
		@include flex-direction(column);
	};


	.sidebar {
		@include flex(0 0 300px);
		@include display(flex);
		@include flex-direction(column);
		@include justify-content(flex-start);
		@include transition (all 200ms ease-in-out);
		background-color: $primary-color;
		overflow-y: scroll;
		@media #{$medium-only} {
			@include flex(0 0 180px);
		};

		&.enabled {
	    @include transform(translateX(300px));
		}
	}

	.content-main {
		@include flex(1 1);
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
}

.sidebar-right {
	@include flex(0 0 200px);
	padding: 0.5rem 1.875rem;
	background-color: $secondary-color;
}

footer {
}




// FLEX CLASSES

.flex-grow {
	@include flex-grow(1);
	overflow: auto;
}

.flex-fixed {
	@include flex-shrink(0);
}

.flex-centered {
}