ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}


// inline list
ul.inline-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.inline-list li {
  display: inline-block;
  margin-right: 1.25rem;
}


// sizes-list
ul.sizes-list {
  @include display(flex);
  padding-bottom: 1rem;
  overflow: overlay;
  -webkit-overflow-scrolling: touch;
}

ul.sizes-list li {
  @include flex(1 1 auto);
  min-width: 1.5rem;
  margin-top: 0.25rem;
  margin-right: 0.25rem;
  text-align: center;
}

ul.sizes-list li:last-child {
  margin-right: 0;
}



// side nav
ul.side-nav {
  padding: 0;
  margin-top: 0;
  margin-bottom: 2rem;
  list-style: none;
}

ul.side-nav li {
  @include truncated;
  padding: 0.25rem 0;

  &:hover,
  &:focus,
  &.active {
    padding: 0.25rem $gutter;
    margin: 0 -1 * $gutter;
    background-color: $secondary-color;
  }
}

ul.side-nav li a {
  display: block;
  width: 100%;
  color: $font-color;
}

// flex lists
.flex__list {
  @include display(flex);
  flex-flow: row wrap;
  align-items: center;
  margin: 0px;
  margin-left: 0;
}

.flex__list--right {
  justify-content: flex-end;
  text-align: right;
}

.flex__list__item {
  @include flex(0 1 auto);
  margin-left: 0;
  padding: 0 1.25rem;

  &:first-child {
    padding-left: 0;
    padding-right: 1.25rem;
  }

  &:last-child {
    padding-right: 0;
  }
}

.flex__list__item--fixed {
  @include flex(0 0 auto);
}

.flex__list__item--expand {
  @include flex(1 1 auto);
}