ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}


// inline list
ul.inline-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.inline-list li {
  display: inline-block;
  margin-right: 1.25rem;
}



// sizes-list
ul.sizes-list {
  @include display(flex);
  padding-bottom: 1rem;
  overflow: overlay;
  -webkit-overflow-scrolling: touch;
}

ul.sizes-list li {
  @include flex(1 0.5 2rem);
  min-width: 1.5rem;
  min-height: 3rem;
  margin-top: 0.25rem;
  margin-right: 0.25rem;
  text-align: center;
}

ul.sizes-list li:last-child {
  margin-right: 0;
}



// side nav
ul.side-nav {
  padding: 0;
  margin-top: 0;
  margin-bottom: 2rem;
  list-style: none;
}

ul.side-nav li {
  padding: 0.25rem 0;

  &:hover,
  &:focus,
  &.active {
    padding: 0.25rem $gutter;
    margin: 0 -1 * $gutter;
    background-color: $secondary-color;
  }
}

ul.side-nav li a {
  display: block;
  width: 100%;
  color: $primary-color;
}