// mixins
@mixin subtle-shadow {
  box-shadow: 0 1.5px 3px rgba(50, 50, 50, 0.14), 0 2px 8px rgba(50, 50, 50, 0.04)
}

@mixin hard-shadow {
  box-shadow: 1px 2px 0 rgba(0,0,0,0.07);
}

@mixin hard-shadow--top {
  box-shadow: 1px -2px 0 rgba(0, 0, 0, 0.07);
}

@mixin hard-shadow--inset {
  box-shadow: inset 1px 2px 0 rgba(0,0,0,0.07);
}

@mixin truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}