

nav.vertical > ul {
  margin-top: 0;
  margin-right: -1 * $gutter;
  margin-bottom: 2 * $gutter;
  margin-left: -1 * $gutter;
  margin-bottom: 2rem;
  list-style: none;
}

nav.vertical > ul > li {
  @include truncated;
  margin-bottom: $gutter
}

nav.vertical > ul li.has-children > a {
  border-bottom: 1px solid scale-color($secondary-color, $lightness: -5%);
}

nav.vertical > ul > li a {
  padding: 0.25rem $gutter;
  display: block;
  color: $font-color;

  &:hover,
  &:focus,
  &.active {
    background-color: scale-color($secondary-color, $lightness: -10%);
  }
}

// first level
nav.vertical > ul > li > a {
  font-weight: 700;
}

// second level
nav.vertical > ul > li > ul > li > a  {
}

// third level
nav.vertical > ul > li > ul > li > ul > li > a {
  padding-left: $gutter * 2
}

nav.appbar {
  @include display(flex);
  @include align-items(center);
  background-color: scale-color($primary-color, $lightness: -10%);
  color: $background-color;
  height: 55px;
  left: 0;
  padding: 0 ($gutter*3)+(24/16);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
}


// toolbar
ul.toolbar {
  @include display(flex);
  align-items: center;
  justify-content: flex-stretch;
}

ul.toolbar > li {
  margin-right: $gutter;
}

ul.toolbar > li > a {
  color: #fff;
}

// main navigation
ul.main-nav {
  flex: 0 1 auto;
  list-style: none;
  margin-right: 1.618rem;
}

ul.main-nav > li {
  display: inline-block;
}

ul.main-nav li a {
  display: block;
  width: 100%;
  color: $background-color;
}

ul.main-nav > li.has-dropdown > a:after {
  color: $background-color;
  content: "arrow_drop_down";
  display: inline;
  font-family: "Material Icons";
  font-size: 1rem;
  position: absolute;
  right: 0.5rem;
}

ul.dropdown {
  min-width: 100%;
}

li.has-dropdown:hover > ul.dropdown {
  display: block;
}

// second level
ul > li > ul.dropdown {
  @include hard-shadow;
  background-color: scale-color($primary-color, $lightness: 10%);
  display: none;
  left: 0;
  list-style: none;
  position: absolute;
  top: 100%;
}

// third level
ul.dropdown > li.has-dropdown > a:after {
  color: $background-color;
  content: "arrow_drop_down";
  display: inline;
  font-family: "Material Icons";
  font-size: 1rem;
  position: absolute;
  right: 0.5rem;
}

ul > li > ul > li > ul.dropdown {
  left: 100%;
  top: 0;
  width: 100%;
}

ul > li > ul > li > ul.dropdown.attach-left {
  left: -100%;
  top: 0;
  width: 100%;
}
