table {
  width: 100%;
  border-collapse: collapse;
}

thead tr {
  border: none;
}

thead th {
  font-family: $header-font;
  font-size: 1.1rem;
  font-weight: 400;
  opacity: 0.6;
  padding: 0.5rem;
  padding-bottom: 0;
  text-align: left;
  text-rendering: geometricPrecision;
}

tr {
  border-bottom: 1px solid $secondary-color;
}

td {
  padding: 1rem 0.5rem;
  vertical-align: middle;
}

td:first-child,
th:first-child {
  padding-left: 0.5rem;
}

td:last-child,
th:last-child {
  padding-right: 0.5rem;
}

tr.no-border {
  border: none
}

tr.link {
  @include transition(ease 200ms);
}

tr.link:hover {
  cursor: pointer;
  background-color: $secondary-color;
}

tr.link:hover a {
}

tr.link:hover a:hover {
}

tfoot > tr {
  padding: 2rem 0;
  border-top: 3px solid $secondary-color;
  border-bottom: none;
}

// Comapct table
table.compact {
}

table.compact td,
table.compact th {
  padding: 0.5rem;
}

table.compact td:first-child,
table.compact th:first-child {
  padding-left: 0px;
}


// small devices
@media (max-width: 767px) {
  table {
    display: block;
  }

  thead {
    display: none;
  }

  tbody {
    display: block;
  }

  tr {
    display: block;
    margin: 0 -1.618rem;
    padding: 1.618rem;
  }

  tr.link:hover {
  }

  td {
    display: block;
    padding: 0;
    margin-bottom: 0.5rem;

    &:before {
      content: attr(data-title);
      display: block;
      font-family: $header-font;
      opacity: 0.6;
      text-rendering: geometricPrecision;
      width: 100%;
    }
  }

  td:first-child,
  th:first-child {
    padding-left: 0;
  }

  td:last-child,
  th:last-child {
    padding-right: 0;
  }
}