table {
  width: 100%;
  border-collapse: collapse;
}

thead tr {
  border: none;
}

thead th {
  font-family: $header-font;
  font-weight: 400;
  opacity: 0.6;
  padding: 0.5rem;
  padding-bottom: 0;
  text-align: left;
  text-rendering: geometricPrecision;
}

tr {
  border-bottom: 1px solid $secondary-color;
}

td {
  padding: 1rem 0.5rem;
  vertical-align: middle;
}

table.table--bordered th,
table.table--bordered td {
  border-right: 1px solid $secondary-color;

  &:last-child {
    border-right: none;
  }
}

td:first-child,
th:first-child {
  padding-left: 0;
}

td:last-child,
th:last-child {
  padding-right: 0;
}

tr.borderless {
  border: none
}

tr.link td {
  @include transition(ease 140ms);
}

tr.link:hover {
  cursor: pointer;
  color: $primary-color;
}

tr.link:hover a {
}

tr.link:hover a:hover {
}

tr.section {
  border: none;
}

tr.section td {
  padding-top: 4rem; 
}

tfoot {
  padding: 2rem 0;
  border-top: 3px solid $secondary-color;
}

tfoot tr {
  border: none;
}

// Comapct table
table.compact {
}

table.compact td,
table.compact th {
  padding: 0.5rem;
}

table.compact td:first-child,
table.compact th:first-child {
  padding-left: 0px;
}


/* // small devices
@media (max-width: 767px) {
  table {
    display: block;
  }

  thead {
    display: none;
  }

  tbody {
    display: block;
  }

  tr {
    display: block;
    margin: 0 -1.618rem;
    padding: 1.618rem;
  }

  tr.link:hover {
  }

  td {
    display: block;
    padding: 0;
    margin-bottom: 0.5rem;

    &:before {
      content: attr(data-title);
      display: block;
      font-family: $header-font;
      opacity: 0.6;
      text-rendering: geometricPrecision;
      width: 100%;
    }
  }

  td:first-child,
  th:first-child {
    padding-left: 0;
  }

  td:last-child,
  th:last-child {
    padding-right: 0;
  }
} */


// RESPONSIVE TABLES
@media only screen and (max-width: 1023px) {
  
  table.responsive { margin-bottom: 0; }
  
  .pinned {
    position: absolute;
    left: 0;
    top: 0;
    background: $background-color;
    width: 100px;
    overflow: hidden;
    overflow-x: scroll;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.07);
    border-right: 1px solid $hairline-color;
  }

  .pinned table {
    border-right: none;
    border-left: none;
    width: 100%;
  }

  .pinned table th,
  .pinned table td {
    white-space: nowrap;
  }

  .pinned td:last-child {
    border-bottom: 0;
  }
  
  div.table-wrapper {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
  }

  div.table-wrapper div.scrollable table {
    margin-left: 100px;
  }

  div.table-wrapper div.scrollable {
    overflow: scroll;
    overflow-y: hidden;
  }  
  
  table.responsive td,
  table.responsive th {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
  }
  
  table.responsive th:first-child,
  table.responsive td:first-child,
  table.responsive td:first-child,
  table.responsive.pinned td {
    display: none;
  }
  
}