[data-tooltip] {
  @include transition(140ms ease-in-out);
  position: relative;
  overflow: visible;
}

[data-tooltip]:hover::before {
  position: absolute;
  top: 8px;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 14px 8px;
  border-color: transparent transparent #333333 transparent;
  z-index: 99;
}

[data-tooltip]::after {
  @include transition(140ms ease-in-out);
}

[data-tooltip]:hover::after {
  @include truncated;
  position: absolute;
  top: 22px;
  left: -50px;
  width: 100px;
  padding: 0.25rem 0.5rem;
  content: attr(data-tooltip);
  background-color: #333;
  z-index: 99;
}