// TYPOGRAPHY
body {
	font-family: $body-font;
}

a:hover {
	color: $highlight-color;
}

a.link {
	border-bottom: 1px dotted #ccc;
	line-height: normal;

	&:hover {
		border-bottom: 1px dotted $highlight-color;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font;
}

h1 {
	font-weight: 700;
}

h6 {
	color: #999;
	font-size: 1rem;
	font-weight: 400;
	// letter-spacing: 2px;
	margin: 0.5rem 0;
	text-rendering: optimizeLegibility;
	text-transform: uppercase;
}

span.input {
	display: block;
	padding: 0.5rem 0;
}

.page-heading {
	margin: 0 0 1em;
	font-weight: 700;
}

.inline-label {
	color: #666;
	display: inline !important;
	font-weight: 600;
	font-variant: small-caps;
	text-transform: lowercase;
	font-family: "futura-pt", "Helvetica Neue", "Arial"
}

.light {
	opacity: 0.7;
}

.italic {
	font-style: italic;
}

.thin {
	font-weight: 100;
}

.bold {
	font-weight: 700;
}

.small {
	font-size: 0.875rem;
}

.push-up {
	margin-top: -0.5rem;
}

.truncated {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.product-label {
	background-color: $primary-color;
	font-size: 0.75rem;
	font-weight: normal;
	margin-bottom: inherit;
	padding: 0.25rem 0.5rem;
	white-space: nowrap;
	display: inline-block;
	text-align: center;
	width: 100px;
	margin: 0.1rem 0;
	overflow: hidden;
}

label.section-label {
	font-size: 1rem;
	font-family: $header-font;
	font-weight: 400;
	letter-spacing: 2px;
	margin: 0.5rem 0;
	text-rendering: optimizeLegibility;
}


// INVERTED
.inverted,
.inverted h1,
.inverted h2,
.inverted h3,
.inverted h4,
.inverted h5,
.inverted h6,
.inverted input,
.inverted p,
.inverted a {
	color: #fff;
}

.inverted input:hover,
.inverted input:focus {
	border-color: #fff
}

.inverted a:hover {
	color: $highlight-color;
}

.inverted label {
	color: #fff;
	opacity: 0.6;
}



// ICONS
[class^="icon-"]:before,
[class*=" icon-"]:before {
  vertical-align: middle;
}

.icon-text {
	vertical-align: middle;
	margin-left: 5px;
}