// TYPOGRAPHY
html {
  font-size: 1rem;
  text-rendering: geometricPrecision;
}

body {
  font-family: $body-font;
  line-height: 1.45rem;
  color: $font-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

h1, h2, h3, h4 {
  margin: 1.414rem 0 0.5rem;
  color: $primary-color;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157rem;
  font-weight: 700;
}

header h1, 
header h2, 
header h3, 
header h4, 
header h5, 
header h6 {
  color: $background-color;
  position: relative;
}

h2 {
  font-size: 2.369rem;
}

h3 {
  font-size: 1.777rem;
}

h4 {
  font-size: 1.333rem;
}

h5 {
  color: #999;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0.5rem 0;
  position: relative;
  text-transform: uppercase;
}

h5.panel-title {
  font-size: 1rem;
  text-transform: uppercase;
}

h6 {
  color: #999;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0.5rem 0;
}

.section-header {
  &:before {
      position: absolute;
      top: 50%;
      left: -4rem;
      content: '';
      border-bottom: 1px solid scale-color($secondary-color, $lightness: -10%);
      width: 3rem;
  }
}

small, .font_small {
  font-size: 0.75rem;
}

p {
  margin-bottom: 1.3em;
}

a {
  color: $primary-color;
  text-decoration: none;
}

a.link {
  border-bottom: 2px solid $hairline-color;

  &:hover {
    border-color: $primary-color;
  }
}

.light {
  opacity: 0.7;
}

.italic {
  font-style: italic;
}

.thin {
  font-weight: 100;
}

.bold {
  font-weight: 700;
}

.small {
  font-size: 0.875rem;
}

.push-up {
  margin-top: -0.5rem;
}

.truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-label {
  background-color: $primary-color;
  font-size: 0.75rem;
  font-weight: normal;
  margin-bottom: inherit;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  margin: 0.1rem 0;
  overflow: hidden;
}

label.section-label {
  font-size: 1rem;
  font-family: $header-font;
  font-weight: 400;
  letter-spacing: 2px;
  text-rendering: optimizeLegibility;
}


// INVERTED
.inverted,
.inverted h1,
.inverted h2,
.inverted h3,
.inverted h4,
.inverted h5,
.inverted h6,
.inverted input,
.inverted p,
.inverted a {
  color: #fff;
}

.inverted input:hover,
.inverted input:focus {
  border-color: #fff
}

.inverted a:hover {
  color: $highlight-color;
}

.inverted label {
  color: #fff;
  opacity: 0.6;
}



// ICONS
[class^="icon-"]:before,
[class*=" icon-"]:before {
  vertical-align: middle;
}

.icon-text {
  vertical-align: middle;
  margin-left: 5px;
}