.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.no-padding {
  padding: 0;
}


// mixins
@mixin subtle-shadow {
  box-shadow: 0 1.5px 3px rgba(50, 50, 50, 0.14), 0 2px 8px rgba(50, 50, 50, 0.04)
} 