// typography
$body-font: "franklin-gothic-urw", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
$header-font: "franklin-gothic-urw", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
$font-base-size: 16;
$font-small-size: 13;
@function rem-calc($size) {
  $pixel-size: $size / $font-base-size + rem;
  @return $pixel-size
}

// colors
$green: #B6BE00;
$mint-gray: #EBEBF0;
$offwhite: #F7F7F9;
$white: #FFFFFF;
$red: #DA284B;
$black: #333333;
$slate-gray: #5A7582;

$accent-color: $green;
$background-color: $white;
$header-background-color: $mint-gray;
$header-text-color: $black;
$breadcrumbs-background-color: $offwhite;
$footer-background-color: $offwhite;
$appbar-background-color: $black;
$link-color: $black;
$hairline-color: #e2e2e2;
$panel-background-color: $offwhite;

$primary-color: #5A7582;
$secondary-color: #F2F2F2;
$light-shade: #F9F9F9;
$accent-color: #B6BE00;
$breadcrumb-background-color: #593A4C;
$font-color: #333;
$hairline-color: #e2e2e2;
$highlight-color: #EBF7A4;
$alert-color: #E40D46;

// breakpoints
$end-phone: 767px;
$start-tablet-portrait: 768px;
$end-tablet-portrait: 1023px;
$start-tablet-landscape: 1024px;
$end-tablet-landscape: 1279px;
$start-desktop: 1280px;

@mixin tablet-portrait() {
  @media screen and (min-width: $start-tablet-portrait) {
    @content;
  }
}

@mixin tablet-landscape() {
  @media screen and (min-width: $start-tablet-landscape) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: $start-desktop) {
    @content;
  }
}

// layout
$gutter: 1.618rem;
$sidebar-offset: 250px;
$sidebar-secondary-offset: 250px;

// hide outline on focus
*:focus {
  outline: none;
}