#chart_revenue

javascript:
  var chart = c3.generate({
    bindto: "#chart_revenue",
    data: {
      columns: [
        #{ raw line_items.map{|month, total| total.to_i}[12..24].prepend('Vorjahr') },
        #{ raw line_items.map{|month, total| total.to_i}[0..11].prepend('Aktuelles Jahr') },
        #{ raw line_items_shop.map{|month, total| total.to_i}.prepend('Online Shop') }
      ],
      type: 'area',
      labels: {
        format: {
          y: de.numberFormat('$'),
        }
      },
      colors: {
        "Aktuelles Jahr": '#333',
        "Vorjahr": '#7BF730',
        "Online Shop": '#B6BE00'
      }
    },
    axis: {
      x: {
        tick: {
          centered: true
        },
        type: 'categories',
        categories: #{raw line_items.map{ |month, total| month } }
      },
      y: {
        show: true,
        tick: {
          format: de.numberFormat("$")
        }
      }
    },
    tooltip: {
      format: {
        value: de.numberFormat('$')
      }
    },
    grid: {
      y: {
        show: true
      }
    },
    regions: [
      {start: 10.5, end: 11.5, class: 'highlighted-region'}
    ]
  });