section.full-width
	h4 Monatlicher Umsatz
	#chart_revenue

javascript:
	var de = d3.locale({
		'decimal': ',',
		'thousands': '.',
		'grouping': [3],
		'currency': ['€ ', ''],
		'dateTime': '%a %b %e %X %Y',
		'date': '%m/%d/%Y',
		'time': '%H:%M:%S',
		'periods': ['AM', 'PM'],
		'days': ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
		'shortDays': ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
		'months': ['Januar', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
		'shortMonths': ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
	});


	var chart = c3.generate({
			bindto: "#chart_revenue",
			data: {
				columns: [
					#{raw @contact.line_items.includes(:order).where("orders.completed_at BETWEEN '#{13.months.ago}' AND '#{Time.now}'").to_a.group_by_month(&:completed_at).map{|k,v| v.map(&:price_total).sum.to_i }.prepend("Warenwert")}
				],
				type: 'area',
				labels: true,
				labels: {
					format: {
						y: de.numberFormat('$'),
					}
				},
				colors: {
					"Warenwert": '#7e8298'
				}
			},
			axis: {
				x: {
					type: 'category',
					categories: #{get_columns(@contact.orders.where(completed_at: 13.months.ago..Time.now), "month", :completed_at)}
				},
				y: {
					tick: {
						format: de.numberFormat("$")
					}
				}
			},
			tooltip: {
				format: {
					value: de.numberFormat('$')
				}
			}
	});