#chart_revenue

javascript:
  var de = d3.locale({
    'decimal': ',',
    'thousands': '.',
    'grouping': [3],
    'currency': ['€ ', ''],
    'dateTime': '%a %b %e %X %Y',
    'date': '%m/%d/%Y',
    'time': '%H:%M:%S',
    'periods': ['AM', 'PM'],
    'days': ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
    'shortDays': ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
    'months': ['Januar', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
    'shortMonths': ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
  });


  var chart = c3.generate({
      bindto: "#chart_revenue",
      data: {
        columns: [
          #{raw @contact.line_items.completed_since(13.months.ago.beginning_of_month).to_a.group_by_month(&:completed_at).map{|months, items| items.sum(&:price_total).to_i }.prepend("Warenwert")}
        ],
        type: 'area',
        labels: true,
        labels: {
          format: {
            y: de.numberFormat('$'),
          }
        },
        colors: {
          "Warenwert": '#4f5263'
        }
      },
      axis: {
        x: {
          tick: {
            centered: true,
            outer: false
          },
          type: 'category',
          categories: #{raw @contact.line_items.completed_since(13.months.ago.beginning_of_month).group_by_month("line_items.completed_at", format: "%b %Y").count.map{|k, v| k}}
        },
        y: {
          default: 0,
          show: true,
          tick: {
            format: de.numberFormat("$")
          }
        }
      },
      grid: {
        y: {
          show: true
        }
      },
      tooltip: {
        format: {
          value: de.numberFormat('$')
        }
      }
  });