<div class="row">
	<div class="small-12 columns">
		<% if f.object.new_record? %>
			<%= f.file_field :image %>
		<% else %>
			<%= image_tag (f.object.image.url(:medium)) %>
		<% end %>
		<%= f.link_to_remove "Remove", class: "tiny button alert" %>
	</div>
</div>