<% content_for :sidebar do %>
	<div class="small-12 medium-2 large-2 columns">
		<p class="section-label">Menü</p>
		<ul class="side-nav">
		  <li class="active"><a href="#">Übersicht</a></li>
		  <li><a href="#">Inventuren</a></li>
		  <li><a href="#">Attribute</a></li>
		  <li><a href="#">Link 4</a></li>
		</ul>
	</div>
<% end %>