<% content_for :title_bar do %>
	<div class="row">
	  <div class="large-12 columns">
	    <h1><%= @product.name %> bearbeiten</h1>
	  </div>
	</div>
<% end %>


<!-- Side Bar -->
<%= render "products/sidebar" %>



<!-- MAIN CONTENT -->
<% content_for :main_content do %>
	
	<div class="small-12 medium-10 large-10 columns">
		<div class="row">
			<p class="section-label">Formular</p>
		</div>
	

		<div class="row">

			<%= render "products/form" %>

		</div>
	</div>

<% end %>