= render "products/common/toolbar"
= render "products/common/search"
= render "products/show/breadcrumbs"

- content_for :title_bar
	.row
		.small-12.columns
			h1
				span = "#{@product.name} "
				span.thin = @product.sku

#sidebar
	= render "products/show/sidebar"

#content-main
	.row
		.small-12.columns
			.tabs-content
				= render "/products/show/tab_general"
				= render "/products/show/tab_sales"

	.row
		.small-12.columns
			hr
			= link_to 'Zurück', products_path, class: "button secondary"
			= link_to "Bearbeiten", edit_product_path, class: "button right"
			= link_to "Löschen", @product, method: :delete, class: "button alert right", data: { confirm: "Wirklich löschen?" }