<!-- End Navigation -->

<!-- Header -->

<% content_for :title_bar do %>
	<div class="row">
	  <div class="large-9 small-9 columns">
	    <h1><%= @product.name %></h1>
	  </div>
	  <div class="large-3 small-3 columns">
	    <h2><%= link_to '', new_product_path, class: "ion-ios7-trash-outline toolbar right" %></h2>
	  </div>
  </div>
<% end %>

<!-- End Header -->

<!-- Side Bar -->

<%= render "products/shared/sidebar" %>

<!-- End Side Bar -->

<!-- MAIN CONTENT -->

<% content_for :main_content do %>

  <div class="large-5 small-12 columns">

  </div>

<% end %>