<% content_for :sidebar do %>
	<div class="small-12 large-2 columns">
		<ul class="side-nav">
		  <li class="active"><a href="#">Übersicht</a></li>
		  <li><a href="#">Inventuren</a></li>
		  <li><a href="#">Link 3</a></li>
		  <li><a href="#">Link 4</a></li>
		</ul>
	</div>
<% end %>