<!-- footer -->
 
  <footer class="row">
    <div class="small-12 columns"><hr />
      <%= debug(params) if Rails.env.development? %>
    </div>
    <div class="small-12 columns">
    	<% session[:history].each do |page| %>
				<span><%= page %></span>
    	<% end %>
    </div>
  </footer>