<p align="center"><%= image_tag "logo.png" %></p>

<hr>

<p class="section-label">Menü</p>
<ul class="side-nav">
  <li><%= link_to "Kontakte", contacts_path %></li>
  <li><a href="#">Aufträge</a></li>
  <li><%= link_to "Produkte", products_path %></li>
  <li><a href="#">Produktion</a></li>
</ul>