<div class="hide-for-small-only inverted" id="sidebar">
  <div class="main-sidebar-header">
    <p class="light inverted"><%= link_to "Lunge Manufaktur", :root %></p>
  </div>
  <ul class="main-sidenav">
    <li><a href="#">Kontakte</a></li>
    <li><a href="#">Aufträge</a></li>
    <li><a href="#">Artikel</a></li>
    <li><a href="#">Produktion</a></li>
    <li><a href="#">Material</a></li>
  </ul>
  <div class="logo text-center">
    <%= image_tag("logo.png", size: "100") %>
  </div>
</div>