<div class="small-12 large-2 columns fixed">
	<h3>Lunge Manufaktur</h3>
	<ul class="magellan tabs vertical" data-magellan-expedition="fixed">
	  <li class="active"><a href="#">Übersicht</a></li>
	  <li><a href="#">Inventuren</a></li>
	  <li><a href="#">Link 3</a></li>
	  <li><a href="#">Link 4</a></li>
	</ul>
</div>